*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(151, 113, 113, 0.637);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:5px 5px 5px black ;
}

#container{
    width: 60%;
    margin: 100px auto ;
    height: 60vh;
    border: 1px solid rgb(81, 77, 77);
    box-shadow: 0.4rem 0.4rem 2rem black;
    border-radius: 10px;
    background: rgba(55, 54, 54, 0.558);
    animation: wipe-in-right;
    animation-duration: 1s;
}
@keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:right"] {
    animation: 1.2s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  }

#container h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 8px;
    border: 1px solid #ccc;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

button{
    background-color: seagreen;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

button:hover{
    background-color: #7ecc00;
}

p{
    margin-top: 20px;
    color: yellow;
}

@media screen and (max-width:600px) {
    
#container{
    width: 90%;
    margin: 100px auto ;
    height: 70vh;
    border: 1px solid rgb(81, 77, 77);
    box-shadow: 0.4rem 0.4rem 2rem black;
    border-radius: 10px;
    background: rgba(55, 54, 54, 0.558);
}
#container h1{
    text-align: center;
    font-size: 1.9em;
    margin-top: 1em;
    margin-bottom: 20px;
}
}